[submodule "ChipDriversCpp"]
	path = ChipDriversCpp
	url = https://github.com/Beszti85/ChipDriversCpp.git
	branch = main
[submodule "ChipDrivers"]
	path = ChipDrivers
	url = https://github.com/Beszti85/ChipDrivers.git
	branch = main
[submodule "Modules"]
	path = Modules
	url = https://github.com/Beszti85/Modules
	branch = main
